body {
    background-color: forestgreen;
    padding: 2%;
    height: 1000px;
    white-space: nowrap;
}

#brd{
    background-color:lawngreen;
    height:380px;
    padding:2%;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius:12px;
    border: 3px solid red;
}

#dck {
    background-color: lawngreen;
    padding: 1%;
    height: 301px;
    width:226px;
    overflow: hidden; 
    border-radius: 12px;
    //float:left;
    margin-top:1%;
}

#plr{
    background-color:lawngreen;
    padding:1%;
    border: 1px solid black;
}

button{
    border: 1px solid black;
    border-radius: 12px;
    height: 36px;
    width: 64px;
}

button:hover {
    background-color:dimgrey;
}

tr{
    padding-left:2%;
}

.playCard {
    text-align: center;
    border-radius: 12px;
    display: inline-block;
    vertical-align: top;
}

.playCardAnswer{
    font-size:28px;
}

.playCardImg {
    width: 226px;
    height: 301px;
    vertical-align: top;
    margin-right: 10px;
    
}

.playCardInput {
    background-color: olivedrab;
    height: 301px;
    width: 1%;
    vertical-align: top;
    margin-right:10px;
}

.playCardInput:hover{
    background-color:darkolivegreen;
}